a	{
	color: #FFBF69;
	text-align: center;
}
body	{
	font-family: 'Poiret One', cursive;
	font-family: 'Oxygen', sans-serif;
	}

h1 {
	color:#C1CAD6;
	font-size: 40px;
}

h2 {
	color:#EFBCD5;
	font-family: 'Raleway', sans-serif;
}

.sidelist	{
	margin-left: 35px;
}

ul	{
	color: #596475;
	font-size: 20px;
	padding-bottom: 50px;
}

.navbar-default {
    background-color: #FDE8E9;
    border-color: #e7e7e7;
    font-family: 'Raleway', sans-serif;
	font-family: 'Poppins', sans-serif;
	font-family: 'Noto Sans', sans-serif;
}
	
.navbar-default .navbar-brand {
    color: #596475;
    font-family: 'Raleway', sans-serif;
	font-family: 'Poppins', sans-serif;
	font-family: 'Noto Sans', sans-serif;
}

#linkedin	{
	width: 100px;
}

.phone	{
	width: 100px;
	padding-left: 30px;
}

.email	{
	width: 110px;
	padding-left: 30px;
	padding-top: 20px;
}

#email	{
	padding-top: 20px;
}

.leave-a-message	{
	text-align: center;
	font-size: 30px;
	border-top-style: solid;
	border-top-color: #FFBF69;
	border-top-width: 1px;
	color: #C1CAD6
}

.contact	{
	text-align: center;
	border-bottom: solid;
	border-top-color: #FFBF69;
	padding-bottom: 10px;
	border-bottom-width: 2px;
}

#border-bottom	{
	border-bottom: solid;
	border-color: #FFBF69;
	padding-bottom: 80px;
}

#about	{
	padding-top: 20px;
	border-bottom: solid;
	border-bottom-color: #FDE8E9;
}

#experience	{
	padding-top: 20px;
	border-bottom: solid;
	border-bottom-color: #FDE8E9;
}

#pp {
	width: 100px;
}

h3	{
	color: #596475;
	font-family: 'Raleway', sans-serif;
	padding-top: 10px;
}